%nav.go-home= link_to image_tag('arrow_3.png'), root_url

%main
  - if @current_user
    .templates
      - @mail_templates.each_with_index do |template, i|
        .template{id: "template_#{i}", style: ('display: none;' if i != 1)}= template
      .radio-btns
        - (1..4).each do |i|
          = radio_button_tag(:invite_type, i, i == 1)
          = label_tag("invite_type_#{i}", "Вариант №#{i}")

    = form_tag(api_v1_subscribers_url, method: 'post', class: 'toolbar') do
      %label Почта:
      %input{type: 'email', name: 'email', value: 'Dear friend@example.com', spellcheck: 'false', class: 'dynamic-width'}
      %br
      %label Ник:
      %input{type: 'text', name: 'name', value: 'Dear friend', spellcheck: 'false', class: 'dynamic-width'}
      %br
      %input{type: 'submit', value: '--> Отправить <--'}

  - else
    = form_tag(api_v1_subscribers_url, method: 'post', class: 'centered toolbar') do
      %label Твоя почта:
      %input{type: 'email', name: 'email', value: 'nickname@example.com', spellcheck: 'false', class: 'dynamic-width'}
      %br
      %label Твой ник:
      %input{type: 'text', name: 'name', value: 'nickname', spellcheck: 'false', class: 'dynamic-width'}
      %br
      %input{type: 'submit', value: '--> Отправить приглашение <--'}
