%iframe{ name:'dummy-frame' }
.sheet
  %header
    - if @post.message
      %p= @post.message

  - article_background_color = @post.present? ? "##{(63.75 * (@post.image.darkness * 5 % 6 - 1)).to_i.to_s(16) * 3}".upcase : '#FFFFFF'
  %article{style: "background-color: #{article_background_color};"}
    = image_tag(attachments.first.url, class: 'cat-img')

  %footer
    = form_tag("#{votes_url}?authorization=#{@subscriber.authorization}", method: 'post', target: 'dummy-frame') do
      .buttons
        - (1..10).each do |i|
          = label_tag do
            = radio_button_tag(:value, i)
            = image_tag asset_url('star_icon.png')
      = submit_tag 'Отправить'

    = form_tag("#{subscriber_url(@subscriber)}?authorization=#{@subscriber.authorization}&active=false",
      method: 'put', target: 'dummy-frame') do
      = submit_tag 'Отписаться :('
