- dc = darkness_to_color(@post.image.darkness)
- od = opposite_darkness(@post.image.darkness)
- odc = darkness_to_color(od)

%main{style: "background-color: #{dc}; height: 100%; overflow: hidden; position: absolute; width: 100%;"}
  #post{style: "background: none; min-width: 596px;                                                     |
    left: 50%; margin: 0; padding: 0; position: absolute; top: 50%; transform: translate(-50%, -50%);"} |

    - if @post.message
      %p{style: "color: #{odc}; cursor: default; display: inline-block; font-size: 16px; margin: 2px 0;"}
        = @post.message.text

    = image_tag(attachments.first.url, style: "box-shadow: 0 0 12px #{odc};" +                         |
        'border-radius: 8px; display: block; margin: 12px auto; max-height: 800px; max-width: 800px;') |

    = link_to('Голосовать', "#{post_url @post}?Authorization=#{@subscriber.authorization}",
      style: "color: #{odc}; display: block; font-size: 24px; margin: 4px 0; text-align: center;")
