- dc = darkness_to_color(@post.image.darkness)
- od = opposite_darkness(@post.image.darkness)
- odc = darkness_to_color(od)

- content_for(:background_color) { dc }

#post{style: 'margin: 12px; text-align: center;'}
  - if @post.message
    %p{style: "text-align: center; color: #{odc}; margin: 8px; font-size: 16px; cursor: default;"}
      = @post.message.text

  = image_tag attachments.first.url,
      style: "box-shadow: 0 0 12px #{odc}; border-radius: 8px; margin: 12px auto; max-height: 600px; max-width: 800px;"

  = link_to '--> Голосовать <--', "#{post_url @post}?Authorization=#{@subscriber.authorization}",
      style: "display: block; text-align: center; color: #{odc}; font-size: 20px; margin: 8px; text-decoration: none;"
