%main
  %h1 Catspam

  - if @current_user
    = form_tag(api_v1_subscriber_url(@current_user), method: 'put', class: 'toolbar') do
      %label Твоя почта:
      %input{type: 'email', name: 'email', value: @current_user.email, disabled: true, spellcheck: 'false', class: 'dynamic-width'}
      %input{id: 'activation', type: 'checkbox', name: 'active', checked: @current_user.active?}
      %label{for: 'activation', id: 'subscribe-btn'}= @current_user.active? ? 'Отписаться' : 'Подписаться'
      %label{for: 'activation', id: 'smile'} :)
      %br
      %label Твой ник:
      %input{type: 'text', name: 'name', value: @current_user.name, spellcheck: 'false', class: 'dynamic-width'}
      %input{type: 'submit', value: 'Поменять', title: '#'}
      %br
      = link_to('--> Позвать друга <--', invite_url)
  - else
    .toolbar
      = link_to('--> Присоединиться к нам <--', invite_url)

  .blocks
    - unless @solo_posts.empty?
      .block
        - @solo_posts.sort_by(&:created_at).reverse!.each do |post|
          .bar
            %label.circle{style: "background-color: #{darkness_to_color(post.image.darkness)};"}
            = link_to(translate_time(post.created_at), post, style: "background-image: url(#{post.image.url})")

    - @reports.sort_by(&:created_at).reverse!.each do |report|
      .block
        .bar
          %label.circle
          = link_to(translate_time(report.created_at), report)
        .line
        - report.posts.sort_by(&:created_at).reverse!.each do |post|
          .bar
            %label.circle{style: "background-color: #{darkness_to_color(post.image.darkness)};"}
            = link_to(translate_time(post.created_at), post, style: "background-image: url(#{post.image.url})")
