#invite{style: 'width: 896px; margin: 12px; color: #7f7f7f;'}
  :markdown
    Привет, **#{@subscriber.name}**.

  - case @type
  - when 1 # Вариант №1
    :markdown
      Твой знакомый **#{@current_user.name}** (<u>#{@current_user.email}</u>) подписал тебя на рассылку<br>
      с сомнительного сайта <u>#{ENV['RAILS_HOST']}</u>. Собственно, по названию ты можешь догадаться, что<br>
      теперь тебе на почту будет приходить спам, но не переживай, это не реклама - я буду присылать<br>
      тебе фотки милых котят :3

      В чём прикол? Каждый будний день в промежутке с 10:00 до 20:00 тебе будет приходить письмо с котиком<br>
      и возможностью оценить его ми-ми-мишнось. Каждое воскресенье в 22:00 голоса подсчитываются и мы<br>
      определяем какой из 5-и котиков был самым клёвым.

  - when 2 # Вариант №2
    :markdown
      Я **#{@current_user.name}** (<u>#{@current_user.email}</u>). Нашёл прикольный сайт: <u>#{ENV['RAILS_HOST']}</u>.<br>
      Присоединяйся!

      Это сайт-рассылка. Теперь тебе на почту будут приходить фотки котят. Твоя задача - оценивать их.<br>
      Потом мы собираем голоса и определяем какой котик был самый милый :3<br>
      Надеюсь тебе тоже понравится заниматься такой фигнёй :)

  - when 3 # Вариант №3
    :markdown
      **#{@current_user.name}** (<u>#{@current_user.email}</u>) зовёт тебя заняться<br>
      крайне странной деятельностью - голосованием за фото котиков.

      Каждый будний день в промежутке с 10:00 до 20:00 тебе будет приходить письмо с котиком.<br>
      Твоя задача оценить его по шкале от 1 до 7 звёздочек. Затем, в воскресенье в 22:00 голоса подсчитываются,<br>
      и мы определяем какой из 5-и котиков был самым популярным.

  - when 4 # Вариант №4
    :markdown
      Нет времени объяснять. В ближайшее время тебе на почту будут приходить фотки котиков.<br>
      Твоя задача оценивать их. Это вопрос жизни и смерти!

      Скажи спасибо **#{@current_user.name}** (<u>#{@current_user.email}</u>) - это он втянул тебя в это!

  - else # Вариант №0 - сам себе
    :markdown
      Добро пожаловать на <u>#{ENV['RAILS_HOST']}</u>.<br>

      Теперь каждый будний день в промежутке с 10:00 до 20:00 тебе будет приходить письмо с котиком.<br>
      Твоя задача оценить его по шкале от 1 до 7 звёздочек. Затем, в воскресенье в 22:00 голоса подсчитываются,<br>
      и мы определяем какой из 5-и котиков был самым популярным.

  - if @type != 4
    %br
    %p{style: 'text-align: center;'}
      Если хочешь, можешь сейчас зайти на сайт,
      %br но в принципе, основная фишка в рассылке, так что забей.

    = link_to '--> Перейти на сайт <--', "#{root_url}?Authorization=#{@subscriber.authorization}",
        style: 'display: block; text-align: center; color: #7f7f7f; font-size: 18px; margin: 8px; text-decoration: none;'

    :markdown
      <br>
      _FAQ:_

      - _Я ничего не понял, но мне всё это не надо, как я могу отписаться?_<br>
        На главной странице <u>#{ENV['RAILS_HOST']}</u>, справа от твоего почтового адреса есть кнопочка отписаться.<br>
        Ты в любой момент можешь отключить или включить отправку писем.

      - _Могу ли я поменять свой ник?_<br>
        Ага, на главной странице <u>#{ENV['RAILS_HOST']}</u> нажми на своё имя и впиши новое.<br>
        Не забудь нажать на кнопочку "Поменять".

      - _Что-то криво отображается или не работает. Что делать?_<br>
        Отправь письмо на <u>#{ENV['GMAIL_USERNAME']}@gmail.com</u> с описанием проблемы.<br>
        Буду рад любому фитбэку.

      - _Зачем всё это надо?_<br>
        Хз. Интернет был создан ради котиков, разве нет?
