#invite{style: 'margin: 12px; color: #7f7f7f;'}
  - case @type
  - when 1 # Вариант №1
    :markdown
      Привет, **#{@subscriber.name}**! Твой знакомый **#{@current_user.name}** (_#{@current_user.email}_) подписал тебя на рассылку
      с сомнительного сайта catspam.com. Собственно, по названию ты можешь догадаться, что
      теперь тебе на почту будет приходить спам, но не переживай, это не реклама - я буду присылать
      тебе фотки милых котят :3

      В чём прикол? Каждый будний день в промежутке с 10:00 до 20:00 тебе будет приходить письмо с котиком
      и возможностью оценить его ми-ми-мишнось. Каждое воскресенье в 22:00 голоса подсчитываются и мы
      определяем какой из 5-и котиков был самым клёвым.

  - when 2 # Вариант №2
    :markdown
      Привет, **#{@subscriber.name}**! Я Evgeny Peleh (epeleh@lineate.com). Нашёл прикольный сайт catspam.com, присоединяйся.
      Это сайт-рассылка. Теперь тебе на почту будут приходить фотки котят. Твоя задача - оценивать их.
      Потом мы собираем голоса и определяем какой котик был самый милый :3
      Надеюсь тебе тоже понравится заниматься такой фигнёй :)

  - when 3 # Вариант №3
    :markdown
      Привет, **#{@subscriber.name}**! Evgeny Peleh (epeleh@lineate.com) зовёт тебя заняться крайне странной деятельностью -
      голосованием за фото котиков.

      Каждый будний день в промежутке с 10:00 до 20:00 тебе будет приходить письмо с котиком.
      Твоя задача оценить его по шкале от 1 до 7 звёздочек. Затем в воскесение в 22:00 голоса подсчитываются и мы
      определяем какой из 5-и котиков был самым популярным.

  - when 4 # Вариант №4
    :markdown
      Привет, **#{@subscriber.name}**! Нет времени объяснять. В ближайшее время тебе на почту будут приходить фотки
      котиков. Твоя задача оценивать их. Это вопрос жизни и смерти!

      Скажи спасибо Evgeny Peleh (epeleh@lineate.com) - это он втянул тебя в это!

  - else # Вариант №0 - сам себе
    :markdown
      Привет, **#{@subscriber.name}**! Добро пожаловать на #{link_to ENV['RAILS_HOST'], root_url}.

      Теперь каждый будний день в промежутке с 10:00 до 20:00 тебе будет приходить письмо с котиком.
      Твоя задачя оценить его по шкале от 1 до 7 звёздочек. Затем в воскесение в 22:00 голоса подсчитываются и мы
      определяем какой из 5-и котиков был самым популярным.

  :markdown
    FAQ:

    = Я ничего не понял, но мне всё это не надо, как я могу отписаться?
    - На главной странице catspam.com, справа от твоего почтового адреса есть кнопочка отписаться. Ты в любой момент
      можешь отключить или включить отправку писем.

    = С чего ты взял что меня зовут **#{@subscriber.name}**?
    - Evgeny Peleh (epeleh@lineate.com) указал этот ник. Так что если что, ты знаешь на кого обижаться :)

    = Могу ли я поменять свой ник?
    - Ага, на главной странице catspam.com нажми на своё имя и впиши новое. Не забудь нажать на кнопочку "Поменять".

    = В письмах / на сайте что-то криво отображается / не работает. Что делать?
    - Отправь письмо на catspam42@gmail.com с описанием проблемы. Я буду очень рад любому фитбеку.

    = Зачем всё это надо?
    - Хз. Интернет был создан ради котиков (~и порнухи~), не так ли?



    Если хочешь можешь сейчас зайти на сайт, но в принципе, основная фишка в рассылке,
    так что забей.

    --> Перейти на сайт <--
