!!!
%html
  %head
    %title Catspam
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{name: 'current_user', content: @current_user.to_json}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{data: {controller: controller_name, action: action_name}, class: ('funny-mode' if rand < 0.01) }
    = yield
